
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;

}

body {
    margin: 0;
    height: 100%;
    background-color: #ced4da;
}

.navbar-light .navbar-brand {

    color: #ced4da;

}

.navbar-light .navbar-nav .active > .nav-link {

    color: #ffffff;
}


.navbar-light .navbar-nav .nav-link {

    color: #ced4da;
}

form button {

    background: #000000 !important;
    border: none !important;
}

.register {

    padding: 15px 20px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



table th, table td {

    color:whitesmoke !important;
}


#login-form .error, #registration-form .error {

    color: orangered;
}

span {

    color:orangered;
}

